.noUi-connect {
	background: #07689F;
}
.noUi-target {
    /*padding: 0 17px;*/
}
.noUi-handle {
	/*border-radius: 50%;*/
	opacity: 1.0;
}
.noUi-horizontal .noUi-handle {
	width: 10px;
	right: -5px;
}
.noUi-handle:before,
.noUi-handle:after {
  left: 1px;
}
.noUi-handle:after {
  left: 2px;
}
.leaflet-zoom-hide {
	position: absolute!important; 
}
.mapstyle {
    height: 70vh;
    /*width: 100vw;*/
}
.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
 }

.marker-div-icon i {
   position: absolute;
   width: 22px;
   font-size: 22px;
   left: 0;
   right: 0;
   margin: 10px auto;
   text-align: center;
}

.marker-div-icon i.awesome {
   margin: 12px auto;
   font-size: 17px;
}
.leaflet-control-layers-list:before {
	height: 0px;
}
.leaflet-popup {
	max-width: 60vw;
}